@import "styles/variables";
  
* {
    font-family: $primary-font;
    /* font-family: 'Bodoni Moda', serif; */
}
body{
    margin: 0;
}
header {
    display: flex;
    justify-content: space-left;
    gap: 1.25rem;
    background-color: $crem;
    border-radius:  0.6rem;
    padding: 0px 0.6rem;
    height: 6.25rem;
}
img {
    margin-left: 1.25rem;
}
.logo {
    width: 5.5rem;
    height: 5.5rem;
    background-size: cover;
    border-radius: 50%;
    margin-top: 0.3rem;
}
h1 {
    text-align: center;
}

#title{
    height: 60%;
    color:white;
    font-family: $title-font;
    font-size: 2.2rem;
}
nav {
    margin-left: auto;
    position: static;
    right: 1.25rem;
}
#options {
    list-style: none;

    li{
        display: inline-block; /*items side by side, not one after another*/
        padding:  0.6rem 1.25rem;
        margin:  1rem;

        &:hover{
            transition: all 0.5s ease 0s;
            color: #fff;
            background-color: $light-brown;
        }
    }
}
li, a{
    font-weight: bold;
    font-size: 1.1rem; 
    text-decoration: none;
    color: $red-brown;
    background-color: $yellowish-white;
    border-radius: 0.4rem;
}
a{
    padding:  0.6rem;
}

.main {
    width: 100%;
    min-height: 100vh;
    background-color: $yellowish-white;
    display: flex;
    justify-content: space-around;
}
.illustration{
    width: 450px;
    height: 450px;
    margin-right: 2.5rem;
    max-width:30%;
}
#info {
    position: relative; /* elements can be positioned inside it*/
    width: 100%;
    height: 100%;
}
/* Style for the information bubbles */
.bubble {
    position: absolute; /*each element can pe positioned using top and left */
    width: 12rem; 
    height: 12rem;
    border-radius: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    box-shadow: 0 2px 4px $brown;
    margin: 3.3rem;
}
.bubble:nth-child(1) {
    background-color: $crem;
    margin-top: 9.4rem;
    margin-left:  0.6rem;
    width: 9.4rem; 
    height: 8rem;
}
.bubble:nth-child(2) {
    background-color: $lighter-pale-brown;
    margin-top: 2.5rem;
    margin-left: 16rem;
    height: 11rem;
}
.bubble:nth-child(3) {
    background-color: $pale-brown;
    margin-top: 13.7rem;
    margin-left: 31rem;
    height: 7rem;
}
.bubble:nth-child(4) {
    background-color: $lightest-pale-brown;
    margin-top: 19rem;
    margin-left: 12.5rem;
    height: 7rem;
    width: 10rem;
}
.text-box {
    width: 90%;
    height: 50%;
    text-align: center;
    line-height: 2rem;
    padding: 1.3rem;
}