@import "styles/variables";
  
* {
    font-family: 'Lato', sans-serif;
    /* font-family: 'Bodoni Moda', serif; */
}
header {
    display: flex;
    justify-content: space-left;
    gap: 20px;
    background-color: $crem;
    border-radius: 10px;
    padding: 0px 10;
    height: 100px;
}
img {
    margin-left: 20px;
}
.logo {
    width: 90px;
    height: 90px;
    background-size: cover;
    border-radius: 50%;
}
h1 {
    text-align: center;
}

#title{
    height: 60%;
    color:white;
    font-family: "Metro Sans";
    font-size: 35px;
}
nav {
    margin-left: auto;
    position: static;
    right: 20px;
}
#options {
    list-style: none;

    li{
        display: inline-block; /*items side by side, not one after another*/
        padding: 10px 20px;
        margin: 10px;

        &:hover{
            transition: all 0.5s ease 0s;
            color: #fff;
            background-color: $light-brown;
        }
    }
}
li, a{
    font-weight: bold;
    font-size: 18px; 
    text-decoration: none;
    color: $red-brown;
    background-color: $yellowish-white;
    border-radius: 6px;
}
a{
    padding: 10px;
}

.main {
    width: 100%;
    min-height: 100vh;
    background-color: $yellowish-white;
    display: flex;
    justify-content: space-around;
}
.illustration{
    width: 450px;
    height: 450px;
    margin-right: 40px;
}
#info {
    position: relative; /* elements can be positioned inside it*/
    width: 100%;
    height: 100%;
}
/* Style for the information bubbles */
.bubble {
    position: absolute; /*each element can pe positioned using top and left */
    width: 190px; 
    height: 190px;
    border-radius: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    box-shadow: 0 2px 4px $brown;
    margin: 50px;
}
.bubble:nth-child(1) {
    background-color: $crem;
    margin-top: 150px;
    margin-left: 10px;
    width: 150px; 
    height: 120px;
}
.bubble:nth-child(2) {
    background-color: $lighter-pale-brown;
    margin-top: 40px;
    margin-left: 270px;
}
.bubble:nth-child(3) {
    background-color: $pale-brown;
    margin-top: 220px;
    margin-left: 500px;
    height: 100px;
}
.bubble:nth-child(4) {
    background-color: $lightest-pale-brown;
    margin-top: 300px;
    margin-left: 200px;
    height: 90px;
    width: 160px;
}
.text-box {
    width: 90%;
    height: 90%px;
    text-align: center;
    line-height: 30px;
    padding: 20px;
}