:root {
    --maroinchis: #8E3200;
    --maro: #A64B2A;
    --creminchis: #d49d5b;
    --crem: #D7A86E;
    --aproapealb: #FFEBC1;
    --cremmaiinchis: #e5b274a2;
    --cremfoarteinchis: #bc925eba;
    --var3: #f8dcbaba;
  }
* {
    font-family: 'Lato', sans-serif;
}
header {
    display: flex;
    justify-content: space-left;
    gap: 20px;
    background-color: var(--crem);
    border-radius: 10px;
    padding: 0px 10;
    height: 100px;
}
img {
    margin-left: 20px;
}
.logo {
    width: 90px;
    height: 90px;
    background-size: cover;
    border-radius: 50%;
}
h1 {
    text-align: center;
}

#title{
    height: 60%;
    color:white;
    font-family: "Metro Sans";
    font-size: 35px;
}
nav {
    margin-left: auto;
    position: static;
    right: 20px;
}
#options {
    list-style: none;
}
#options li{
    display: inline-block; /*items side by side, not one after another*/
    padding: 10px 20px;
    margin: 10px;
}
#options li:hover{
    transition: all 0.5s ease 0s;
    color: #fff;
    background-color: var(--creminchis);
}
li, a{
    font-weight: bold;
    font-size: 18px; 
    text-decoration: none;
    color: var(--maroinchis);
    background-color: var(--aproapealb);
    border-radius: 6px;
}
a{
    padding: 10px;
}

.main {
    width: 100%;
    min-height: 100vh;
    background-color: var(--aproapealb);
    display: flex;
    justify-content: space-around;
}
.illustration{
    width: 450px;
    height: 450px;
    margin-right: 40px;
}
#info {
    position: relative; /* elements can be positioned inside it*/
    width: 100%;
    height: 100%;
}
/* Style for the information bubbles */
.bubble {
    position: absolute; /*each element can pe positioned using top and left */
    width: 190px; 
    height: 190px;
    border-radius: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    box-shadow: 0 2px 4px var(--maro);
    margin: 50px;
}
.bubble:nth-child(1) {
    background-color: var(--crem);
    margin-top: 150px;
    margin-left: 10px;
    width: 150px; 
    height: 120px;
}
.bubble:nth-child(2) {
    background-color: var(--cremmaiinchis);
    margin-top: 40px;
    margin-left: 270px;
}
.bubble:nth-child(3) {
    background-color: var(--cremfoarteinchis);
    margin-top: 220px;
    margin-left: 500px;
    height: 100px;
}
.bubble:nth-child(4) {
    background-color: var(--var3);
    margin-top: 300px;
    margin-left: 200px;
    height: 90px;
    width: 160px;
}
.text-box {
    width: 90%;
    height: 90%px;
    text-align: center;
    line-height: 30px;
    padding: 20px;
}