*{
    margin: 0;
    padding: 0;
    
}
html{
    background-image: url('./pictures/back2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Lato', sans-serif;

}

#logo{
    width: 80px;
    height: 80px;
    margin-left: 3px;
    border-radius: 50px;
}

#head{
    width: 100%;
    height: 100px;
    background-color: #D7A86E;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
#title{
   
    margin-left: 5px;
    color: white;
}

#mainSection{
    display: flex;
    justify-content: center;
}
#square{
    width: 500px;
    height: 500px;
    background-color: #FFEBC1;
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
    color: #D7A86E;
    
    
}
#squareTitle{
    text-align: center;
}

#email,#password{
    font-weight: bold;
    font-size: 20px;
}
.inputs{
    height: 30px;
    width: 250px;
    font-style: italic;
    border: none;
    text-align: center;
    border-radius: 10px;
    transition: width 1s,height 1s,font-size 1s;
    
}
.inputs:hover{
    background-color: whitesmoke;
    height: 70px;
    width: 300px;
    font-size: 25px;
}

#forgPass{
    font-size: 10px;
    position: relative;
    float: right;
    margin-top:10px;
    font-style: italic;
    text-decoration: none;
}

#signInBut,#signUpBut{
    height: 30px;
    width: 250px;
    font-size: 20px;
    background-color: white;
    font-style: italic;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    color: #D7A86E;
}
#signInBut:hover,#signUpBut:hover{
    background-color: whitesmoke;
    
}
#signInBut:active,#signUpBut:active{
    height: 35px;
}

#foot{
    position: absolute;
    background-color: #D7A86E;
    bottom: 0;
    width: 100%;
    height: 100px;
    
}

#fSet{
    width: 250px;
    
   border-bottom: white;
   border-left: white;
   border-right: white;
}
legend {
    
    margin-left: auto;
    margin-right: auto;
    font-style: italic;
}