
*{
    font-family: $primary-font;
}
body{
    margin: 0;
}
.about-main {
    width: 100%;
    min-height: 100vh;
    background-color: $yellowish-white;
    display: block;
    margin: auto;
    padding-top: 3.1rem;

    &__information{
        float:right;
        width: 45%;
        padding: 3rem;
        margin-right: 3rem;
        &--title{
            text-transform: uppercase;
            text-decoration: overline;
            font-size: 3rem;
            color: $red-brown;
            margin-bottom: 3.5rem;
        }
        &--question{
            font-size: 1.5rem;
            font-weight:bold;
            color: $brown;
            margin-bottom: 1rem;
        }
        &--answer{
            color: $pale-brown;
            font-size: 1rem;
            line-height: 1.5;
            margin-bottom: 0.8rem;
        }
    }
    &__image{
        float: left;
        width: 40%;
        margin-left:3rem;
        &--pic{
            height: 100%;
            width:100%;
        }
    }
}

/*
@media screen and (max-width: 768px){
    .container{
        width: 80%;
        display: block;
        margin: auto;
        padding-top: 6.25rem;
    }
    .content-section, .image-section{
        float: none;
        width: 100%;
        display: block;
        margin: auto;
    }
    .content-section .title{
        text-align: center;
        font-size: 1rem;
    }
    .information {
        text-align: center;
    }
}
*/