
*{
    font-family: $primary-font;
}
.about-body{
    background-color: $yellowish-white;
    margin: 0;
}
.about-main {
    width: 100%;
    min-height: 100vh;
    background-color: $yellowish-white;
    display: block;
    margin: auto;
    padding-top: 3.1rem;

    &__information{
        float:right;
        width: 40%;
        padding: 3rem;
        margin-right: 3.5rem;
        &--title{
            text-transform: uppercase;
            text-decoration: overline;
            font-size: 3rem;
            color: $red-brown;
            margin-bottom: 3.5rem;
        }
        &--question{
            font-size: 1.5rem;
            font-weight:bold;
            color: $brown;
            margin-bottom: 1rem;
        }
        &--answer{
            color: $pale-brown;
            font-size: 1rem;
            line-height: 1.5;
            margin-bottom: 0.8rem;
        }
    }
    &__image{
        float: left;
        width: 35%;
        margin-left:3rem;
        &--pic{
            height: 5%;
            width:100%;
        }
    }
}

@media screen and (max-width: 480px){ //pt telefon
    .about-main {
        width: 605px;
        margin: 0 auto;
        height: auto;
        position: relative;
        &__information{
            float: none;
            width: 80%;
        }
        &__image{
            margin-top: 2rem;
            float: none;
            width: 80%;
        }
    }
}
@media screen and (min-width: 480px) and (max-width: 820px){
    
    .about-main {
        width: 695px;
        margin: 0 auto;
        height: auto;
        position: relative;
        &__information{
            float: none;
            width: 80%;
        }
        &__image{
            margin-top: 2rem;
            float: none;
            width: 80%;
        }
    }
}
@media screen and (min-width: 820px) and (max-width: 1180px)   {//desktop

    /* pt ipad air*/
    .about-main {
        width: 100%;
        position: relative;
        margin: 0 auto;
        padding-top: 3rem;

        &__information{
            top: 0; left: 0;
            width: 75%;
            &--title{
                font-size: 3.5rem;
            }
            &--question{
                font-size: 2.5rem;
            }
            &--answer{
                font-size: 1.5rem;
                line-height: 1.5;
                margin-bottom: 0.8rem;
            }
        }

        &__image{
            margin-left: 25%;
            width: 50%;
        }
    }
}