.book-main {
    background-color: $crem;
    height: 70vh;
    max-width: 1200px;
    margin: 0 auto;
    padding-right: 12rem;
    padding-left: 12rem;
    padding-top: 1rem;
    padding-bottom:5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    &__genre-response {
        width: 30rem;
        max-height: 10rem;
        overflow-x: hidden;
        overflow-y: scroll;
        background-color: #a55f34;
        border-radius: 4px;
        box-shadow: 10px 0 20px rgba(0, 0, 0, 0.5);
        .book-genre-element{
            padding: 0.5rem;
            border-bottom: solid 1px #fff;
        }

        .book-genre-element:hover{
            background-color: #fff;
            color: #a55f34;
            cursor: pointer;
        }
    }
    &__image {
        flex-basis: 15%;
        max-width: 500px;
        box-shadow: 10px 0 20px rgba(0, 0, 0, 0.5);
    }
    &__details {
        flex-basis: 60%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        .book-title {
            color: $brown;
            font-size: 36px;
            margin-bottom: 20px;
        }
            
        .book-author {
            font-size: 24px;
            margin-bottom: 10px;
            color: #666;
        }
            
        .book-description {
            font-size: 18px;
            margin-bottom: 30px;
            color: #333;
        }
        .add-to-list-button {
            padding: 10px 20px;
            background-color: $pale-brown;
            color: #FFF;
            border: none;
            border-radius: 5px;
            box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
            cursor: pointer;
        }

        .book-genre-button {
            min-width: 9.5rem;
            margin-top: 1rem;
            padding: 10px 20px;
            background-color: $pale-brown;
            color: #FFF;
            border: none;
            border-radius: 5px;
            box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
            cursor: pointer;
        }

       
            
        .add-to-list-button:hover {
            background-color: #a55f34;
            color: #fff;
        }

        .book-genre-button:hover {
            background-color: #a55f34;
            color: #fff;
        }
    }
}

.book-info {
    background-color: $lightest-pale-brown;
    margin-top: -5rem;
    padding: 50px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.book-description-full {
    font-size: 18px;
    margin-bottom: 30px;
    color: #333;
}

.review-section {
    margin-top: 30px;
}

.review {
    margin-bottom: 20px;
}

.review-author {
    font-weight: bold;
    margin-bottom: 5px;
}

.review-text {
    color: #666;
}

.rating-box {
    background-color: #f1f1f1;
    border-radius: 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
    text-align: center;
    padding: 15px 30px;
    width: 60%;
    margin: 0 auto;
  }
  .rating-box h3, #paragraph-review {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .rating-box .stars {
    display: flex;
    align-items: center;
    gap: 25px;
  }
  .stars span {
    font-size: 2rem;
    color: #b5b8b1;
    transition: all 0.2s;
    cursor: pointer;
    margin: 0 auto;
  }
  .stars span.active {
    color: #ffb851;
    transform: scale(1.2);
  }

#add-review {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }

  #buton-review {
    padding: 10px 20px;
    background-color: $pale-brown;
    color: #FFF;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    &:hover{
        background-color: #a55f34;
        color: #fff;
    }
}
  








