
* {
    font-family: $primary-font;
}

.help-body{
    background-color: $help-background;
}

.help-header{
    display:flex;
    justify-content: space-between;
    margin-bottom: 0.625rem;
    height:100px;
    width:100%;
    background-color: $help-background;
    text-align: left;
    font-size:27px;
    &__title{
        text-align: center;
        font-size: 60px;
        margin-top: 10px;
        margin-bottom: 0px;
        margin-left: 0px;
        color: $yellower-white;
        text-shadow: -1px 1px 0 $negru,
                              1px 1px 0 $smokey-white,
                             1px -1px 0 $smokey-white,
                            -1px -1px 0 $smokey-white;
    }
    &__logo{
        margin-left: 1vw;
        margin-top: 1rem;
        height: 6rem;
        width: 6rem;
        border-radius: 150px;
    }
    &__button{
        border:none;
        margin-right: 1vw;
        font-size: 1.5rem;
        margin-top: 1rem;
        width: 8rem;
        height: 3rem;
        text-decoration: none;
        cursor: pointer;
        background-color: $light-brown;
        border-radius: 10px;
        color: $smokey-white;
        transition:0.4s;
        &:hover{
            background-color: $red-brown;
        }
    }
}

.help-form{
    padding: 10px;
    padding-top: 0px;
    position: relative;
    left:10%;
    border-radius: 10px;
    width: 1265px;
    background-color:$light-brown; 
    display:inline-block;
    text-align: center;
    &__details{
        padding: 0.3rem;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
    }
    &__item{
        border-radius: 10px;
        padding: 0.2rem;
        margin: 0.7rem;
        height: 2.5rem;
        width: 460px;
        border:3px solid $yellower-white;
        font-size: 25px;
    }
    &__submit{
        border-radius: 10px;
        height: 50px;
        width: 160px;
        border:none;
        font-size: 25px;
        background-color:$yellowish-white;
        transition:0.3s;
        &:hover{
            background-color: $red-brown;
            cursor: pointer;
            color:$smokey-white;
        }
    }
    &__question{
        margin-left: 0.7rem;
        margin-bottom: 0.4rem;
        border-radius: 3px;
        padding: 0.2rem;
        width: 1130px;
        height: 2.5rem;
        border-radius: 10px;
        border:3px solid $yellower-white;
        font-size: 25px;
    }
}

.help-helpBox1{
    align-items: center;
    padding: 12px;
    display: inline-block;
    position: relative;
    top: 40px;
    left: 10%;
    height: 250px;
    width: 300px;
    background-color: $light-brown;
    transition: 0.4s;
    border-radius: 10px;
    color: $smokey-white;
    overflow: hidden;
    &__title{
        transition: 0.4s;
        position: relative;
        text-align: center;
        top:30%;
    }
    &:hover{
        background-color:$red-brown;
        box-shadow: inset 0 0 20px $lighter-pale-brown;
        .help-helpBox1__title{
            background-color:$red-brown;   
            top:1%;
        }
        .help-helpBox1__content{
            top:5%;
        }
    }
    &__content{
        position: relative;
        top:303px;
        transition: 0.5s;
    }
}

.help-helpBox2{
    padding: 12px;
    display: inline-block;
    position: relative;
    top: 40px;
    left: 20%;
    height: 250px;
    width: 300px;
    background-color: $light-brown;
    transition: 0.4s;
    border-radius: 10px;
    color: $smokey-white;
    overflow: hidden;
    &__title{
        transition: 0.4s;
        position: relative;
        text-align: center;
        top:30%;
    }
    &:hover{
        background-color:$red-brown;
        box-shadow: inset 0 0 20px $lighter-pale-brown;
        .help-helpBox2__title{
            background-color:$red-brown;
            top:1%;
        }
        .help-helpBox2__content{
            top:5%;
        }
    }
    &__content{
        position: relative;
        top:302px;
        transition: 0.5s;
    }
}

.help-helpBox3{
    padding: 12px;
    display: inline-block;
    position: relative;
    top: 40px;
    left: 30%;
    height: 250px;
    width: 300px;
    background-color: $light-brown;
    transition: 0.4s;
    border-radius: 10px;
    color: $smokey-white;
    overflow: hidden;
    &__title{
        transition: 0.4s;
        position: relative;
        text-align: center;
        top:30%;
    }
    &:hover{
        background-color:$red-brown;
        box-shadow: inset 0 0 20px $lighter-pale-brown;
        .help-helpBox3__title{ 
            background-color:$red-brown;
            top:1%;
        }
        .help-helpBox3__content{
            top:5%;
        }
    }
    &__content{
        position: relative;
        top:303px;
        transition: 0.5s;
    }
    
}

.help-footer{
    height: 5rem;
    position:fixed;
    bottom: 0%;
    width: 100%;
    background-color: $light-brown;
    &__links{
        margin-top: 0.4rem;
        display: flex;
        justify-content: space-around;
    }
    &__item{
        text-decoration: none;
        color:$red-brown;
    }
    &__copyright{
        margin-top: 2rem;
        display: block;
        text-align: center;
    }
}

@media screen and (max-width: 600px) {

    .help-header{
        &__title{
            margin-top: 1rem;
            font-size: 30px;
        }
        &__logo{
            height: 4rem;
            width: 4rem;
        }
        &__button{
            margin-top: 1rem;
            font-size: 1rem;
            width: 4rem;
            height: 2rem;
        }
    }
    .help-form{
        margin-top: 0.5em;
        left:0px;
        margin-left: auto;
        margin-right: auto;
        height: 8rem;
        width: 20rem;
        display: block;
        &__item{
            margin:0.2rem;  
            font-size: 15px;
            width: 18.1rem;
            height: 1rem;
        }
        &__question{
            margin: 0.3rem;
            font-size: 15px;
            width: 18.1rem;
            height: 1rem;
            position: absolute;
            left:0.9rem;
            bottom: 1.8rem;
        }
        &__submit{
            font-size: 0.8rem;
            position: absolute;
            height: 1rem;
            left:5.5rem;
            bottom:0.3rem;
        }
    }
    .help-helpBox1{
        top:1rem;
        left:0px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 20rem;
        height: 5rem;
        overflow: scroll;
        &__title{
            top:3%;
        }
        &__content{
            top:5%;
        }
    }
    .help-helpBox2{
        top:1.5rem;
        left:0px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 20rem;
        height:5rem;
        overflow: scroll;
        &__title{
            top:3%;
        }
        &__content{
            top:5%;
        }
    }
    .help-helpBox3{
        top:2rem;
        left:0px;
        margin-bottom: 8rem;
        margin-left: auto;
        margin-right: auto;  
        display: block;
        width: 20rem;
        height: 5rem;
        overflow: scroll;
        &__title{
            top:3%;
        }
        &__content{
            top:5%;
        }
    }
}

@media screen and (min-width: 600px) and (max-width:1100px) {
    .help-form{
        margin-top: 4rem;
        width: 40rem;
        height: 17rem;
        left:0px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        &__item{
            width: 38.5rem;
            margin-left: auto;
            margin-right: auto;
        }
        &__question{
            width: 38.5rem;
            position: absolute;
            left:0.3rem;
            bottom:4rem;
        }
        &__submit{
            position: absolute;
            bottom: 0.3rem;
            left:16rem;
        }
        
    }
    .help-helpBox1{
        height: 10rem;
        width: 30rem;
        display: block;
        left:0px;
        margin-bottom: 1.5rem;
        margin-left: auto;
        margin-right: auto;
        overflow: scroll;
        &__title{
            top:3%;
        }
        &__content{
            top:5%;
        }
    }
    .help-helpBox2{
        height: 10rem;
        width: 30rem;
        display: block;
        left:0px;
        margin-bottom: 1.5rem;
        margin-left: auto;
        margin-right: auto;
        overflow: scroll;
        &__title{
            top:3%;
        }
        &__content{
            top:5%;
        }
    }
    .help-helpBox3{
        height: 10rem;
        width: 30rem;
        display: block;
        left:0px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10rem;
        overflow: scroll;
        &__title{
            top:3%;
        }
        &__content{
            top:5%;
        }
    }
}

