* {
    font-family: $primary-font;
    }
body{
    margin: 0;
}


@mixin text_bubble{
    width: 90%;
    height: 50%;
    text-align: center;
    line-height: 2rem;
    padding: 1.3rem;
}

.home-main {
    width: 100%;
    background-color: $yellowish-white;
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    top: 6.25rem;

    &__pic{
        width: 40%;
        height: 450px;
        margin-right: 2.5rem;
        max-width:45%;
    }

    &__info {
        position: relative; /* elements can be positioned inside it*/
        width: 50%;
        height: 100%;     
    }

    
}
.home-main__bubble {
    position: absolute; /*each element can pe positioned using top and left */
    width: 12rem; 
    height: 12rem;
    border-radius: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    box-shadow: 0 2px 4px $brown;
    margin: 3.3rem;
    &--one {
        background-color: $crem;
        margin-top: 9.4rem;
        margin-left:  0.6rem;
        width: 9.4rem; 
        height: 8rem;
    }

    &--two {
    background-color: $lighter-pale-brown;
    margin-top: 2.5rem;
    margin-left: 16rem;
    height: 11rem;
    }
    &--three {
        background-color: $pale-brown;
        margin-top: 13.7rem;
        margin-left: 31rem;
        height: 7rem;
    }
    &--four {
        background-color: $lightest-pale-brown;
        margin-top: 19rem;
        margin-left: 12.5rem;
        height: 7rem;
        width: 10rem;
    }
    .bubble_text-box {
        @include text_bubble;
    }
}