.settings-body{
    background-color: $yellowish-white;
    margin:0;
    font-family: $primary-font;
}

.settings-main{
    width: auto;
    height: 23rem;
    border-bottom: solid;
    border-width: 1px;
    border-color: $brown;
    box-shadow: 2px 2px 4px $negru;
    &__picture{
        display: inline;
        border-radius: 300px;
        left:10%;
        position: relative;
        margin-top: 3rem;
        transition: 0.4s;
        border-style: groove;
        border-color: $smokey-white;
        &:hover{
        box-shadow: 4px 4px 10px $negru;
        cursor: pointer;    
        }
        
    }
    &__paragraph{
        width: fit-content;
        color:white;
        left:10%;
        margin-left: 9.375rem;
        font-style: $secondary-font;
        text-shadow: 4px 4px 6px $red-brown;
        &:hover{    
            cursor: pointer;    
            }
    }
    &__details{
        bottom:30px;
        height:20rem;
        width: 32rem;
        border-left: solid;
        border-right: solid;
        border-width: 1px;
        position: relative;
        left:30%;
        bottom:240px;
    }
    &__oldPassword{
        text-align: center;
        padding: 3px;
        font-style: $primary-font;
        border-style: solid;
        border-color: $red-brown;
        position: relative;
        top: 2rem;
        left:10rem;
        width: 200px;
        height: 23px;
        border-radius: 5px;
    }
    &__newPassword{
        text-align: center;
        padding: 3px;
        font-style: $primary-font;
        border-style: solid;
        border-color: $red-brown;
        position: relative;
        top:6rem;
        right: 3.3rem;
        width: 200px;
        height: 23px;
        border-radius: 5px;
    }
    &__confirm{
        text-align: center;
        padding: 3px;
        font-style: $primary-font;
        border-style: solid;
        border-color: $red-brown;
        position: relative;
        top:8rem;
        left: 10rem;
        width: 200px;
        height: 23px;
        border-radius: 5px;
    }
    &__button{
        margin: 0px;
        border-style: solid;
        border-color: $brown;
        color:$yellowish-white;
        padding: 1px;
        font-size: 18px;
        font-style: $primary-font;
        background-color:$brown;
        border-radius: 5px;
        position: relative;
        top:12.5rem;
        height: 1.7rem;
        width: 6rem;
        transition:0.4s;
        &:hover{
            box-shadow: 2px 2px 10px $negru; 
            cursor: pointer;
        }
    }
    &__title{
        position: relative;
        width: fit-content;
        left:11.7rem;
        font-style: $secondary-font;    
    }
    &__info{
        position: relative;
        bottom:30px;
        height:20rem;
        width: 26rem;
        left:70%;
        bottom:560px;
    }
    &__username{
        text-align: center;
        padding: 3px;
        font-style: $primary-font;
        border-style: solid;
        border-color: $red-brown;
        position: relative;
        width: 200px;
        height: 23px;
        border-radius: 5px;
        top:2rem;
        left:5rem;
    }
    &__firstName{
        text-align: center;
        padding: 3px;
        font-style: $primary-font;
        border-style: solid;
        border-color: $red-brown;
        position: relative;
        width: 200px;
        height: 23px;
        border-radius: 5px;
        top:4rem;
        left:5rem;
    }
    &__secondName{
        text-align: center;
        padding: 3px;
        font-style: $primary-font;
        border-style: solid;
        border-color: $red-brown;
        position: relative;
        width: 200px;
        height: 23px;
        border-radius: 5px;
        top:6rem;
        left:5rem;
    }
    &__submit{
        border-style: solid;
        border-color: $brown;
        color:$yellowish-white;
        padding: 1px;
        font-size: 18px;
        font-style: $primary-font;
        background-color:$brown;
        border-radius: 5px;
        position: relative;
        top:10.9rem;
        right:4.5rem;
        height: 1.7rem;
        width: 6rem;
        transition:0.4s;
        &:hover{
            box-shadow: 2px 2px 10px $negru; 
            cursor: pointer;
        }
    }
    &__title2{
        position: relative;
        width: fit-content;
        left:7.5rem;
        font-style: $secondary-font;
    }
}

.settings-quote{
    font-size: 40px;
    width: fit-content;
    position: relative;
    font-style: $title-font;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    color: white;
    text-shadow: 4px 4px 10px $red-brown;
}

@media screen and (max-width:1268px){
    .settings-quote{
        display: none;
    }
    .settings-main{
        height: max-content;
        border-style: hidden;
        box-shadow: none;
        position: relative;
        left:100px;
        margin-left: auto;
        margin-right: auto;
        &__details{
            margin: 0 auto;
            left:0px;
            border-style: hidden;
            bottom:10%;
            height: 18rem;
            width: 26rem;
            margin-top: 3rem;
        }
        &__oldPassword{
            left:6.5rem;
            top:0.5rem;
        }
        &__newPassword{
            left:6.5rem;
            top:2rem;
        }
        &__confirm{
            left:6.5rem;
            top:3.5rem;
        }
        &__title{
            left:0px;
            margin: 0px auto;
            height: fit-content;
        }
        &__button{
            right:3.3rem;
            top:8rem;
        }
        &__username{
            left:6.5rem;
            top:0.5rem;
        }
        &__firstName{
            left:6.5rem;
            top:2rem;
        }
        &__secondName{
            left:6.5rem;
            top:3.5rem;
        }
        &__submit{
            right:3.3rem;
            top:8rem;
        }
        &__title2{
            left:0px;
            margin: 0px auto;
            height: fit-content;
        }
        &__info{
            margin: 0px auto;
            left:0px;
            bottom: 1rem;
            height: 2rem;
        }
        &__picture{
            left:0px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 250px;
            height: 250px;
        }
        &__paragraph{
            margin-left: auto;
            margin-right: auto;
        }
    }
}

@media screen and (max-height:720px) and (min-height:599px) {
    .settings-main{
        &__info{
            height: 10rem;
            margin-bottom: 10rem;
        }
        &__picture{
            margin-top: 1rem;
        }
    }
    
}
