*{
    margin: 0;
    padding: 0;

}
.backImage{
    background-image: url('../pictures/backFinal.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    &__blur{
        width: 100%;
        min-height: 100vh;
        backdrop-filter: blur(5px);
    }


}



html{

    font-family: 'Lato', sans-serif;


}

.head{
    width: 100%;
    height: 100px;
    background: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    &__logo{
        width: 80px;
        height: 80px;
        margin-left: 3px;
        border-radius: 50px;
    }
}


.mainSection{
    display: flex;
    justify-content: center;
    .square{
        margin-bottom: 15px;
        width: 30vw;
        height: auto;
        border-radius: 20px;
        box-shadow: 5px 5px;
        background-color: $smokey-white;
        display: flex;
        justify-content:flex-start;
        flex-direction: column;
        align-items: center;
        row-gap: 3vh;
        color: $crem;
        
        &__squareTitle{
            margin-top: 20px;
            text-align: center;
        }
        &__lab {
            font-weight: bold;
            font-size: 1.5vw;
        }
        &__inputs{
            border: 2px solid $lighter-pale-brown;
            
            background-color: $yellowish-white;
            height: 5vh;
            width: 17vw;
            font-size: 1vw;
            font-style: italic;
            text-align: center;
            border-radius: 10px;
            transition: width 0.5s,height 0.5s,font-size 0.5s;
        
        }
        &__inputs:hover{
            background-color: $lightest-pale-brown;
            height: 6vh;
            width: 18vw;
            font-size: 1.5vw;
        }
        &__createAcc{
            height: 5vh;
            width: 17vw;
            font-size: 1.5vw;
            background-color: $crem;
            font-style: italic;
            border: none;
            cursor: pointer;
            border-radius: 10px;
            color: white;
        }
        &__createAcc:hover{
            background-color: $brown;
        
        }
        &__createAcc:active{
            height: 5.5vh;
        }
        &__terms{
            width: 17vw;
            text-align: center;
            &--termsA{
        
                color: $crem;
            }
        }
        
        
    
    }

}



@media screen and (max-width: 912px) {
    .square{
     min-width: 50vw;
    }
    
    .mainSection{
     .square{
        &__lab {
             font-size : 3.5vw;
        }
        &__inputs{
             height: 6vh;
             width: 30vw;
             font-size: 3vw;
     
        }
        &__inputs:hover{
         
         height: 7vh;
         width: 33vw;
         font-size: 3vw;
        }
         
        &__createAcc{
             height: 6vh;
             width: 30vw;
             font-size: 3vw;
             
        }
        &__createAcc:active{
             height: 7vh;
        }
        &__terms{
            width: 30vw;
            font-size: 3vw;
            
        }
         
         
         
     }
    }
    
   }















