
*{
    margin: 0;
    padding: 0;
    
}
.backImage{
    background-image: url(../pictures/backFinal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    position: absolute;
    &__blur{
        width: 100%;
        min-height: 100vh;
        backdrop-filter: blur(5px);
    }
    
    
    
}
html{
   
    font-family: $primary-font;

}


.head{
    width: 100%;
    height: 100px;
    /* background-color: #D7A86E; */
    display: flex;
    justify-content:flex-start;
    align-items: center;
    &__logo{
        width: 80px;
        height: 80px;
        margin-left: 3px;
        border-radius: 50px;
    }

}



.mainSection{
    display: flex;
    justify-content: center;
    .square{
        margin-bottom: 15px;
        width: 30vw;
        height: auto;
        border-radius: 20px;
        box-shadow: 5px 5px;
        background-color: $smokey-white;
        display: flex;
        justify-content:flex-start;
        flex-direction: column;
        align-items: center;
        row-gap: 50px;
        color: $crem;
        &__squareTitle{
            margin-top: 20px;
            text-align: center;
        }
        
        &__lab{
            font-weight: bold;
            font-size: 1.5vw;
        }
        &__inputs{
            border: 2px solid $lighter-pale-brown;
            
            background-color: $yellowish-white;
            height: 5vh;
            width: 17vw;
            font-size: 1vw;
            font-style: italic;
            text-align: center;
            border-radius: 10px;
            transition: width 0.5s,height 0.5s,font-size 0.5s;
            
        }
        &__inputs:hover{
            background-color: $lightest-pale-brown;
            height: 6vh;
            width: 18vw;
            font-size: 1.5vw;
        }
        &__forgPass{
            font-size: 1vw;
            position: relative;
            float: right;
            margin-top:10px;
            font-style: italic;
            text-decoration: none;
            color: $crem;
        }
        &__signInBut{
            height: 5vh;
            width: 17vw;
            font-size: 1.5vw;
            background-color: $crem;
            font-style: italic;
            border: none;
            cursor: pointer;
            border-radius: 10px;
            color: white;
        }
        &__signInBut:hover{
            background-color: $brown;
            
        }
        &__signInBut:active{
            height: 5.5vh;
        }
        &__fSet{
            width: 17vw;
            border-bottom: white;
            border-left: white;
            border-right: white;
            border-top:1px solid $lighter-pale-brown;
            &--Legend{
                font-size: 1vw;
                margin-left: auto;
                margin-right: auto;
                font-style: italic;
            }
            &--signUpBut{
                height: 5vh;
                width: 17vw;
                font-size: 1.5vw;
                background-color: $crem;
                font-style: italic;
                border: none;
                cursor: pointer;
                border-radius: 10px;
                color: white;
            }
            &--signUpBut:hover{
                background-color: $brown;
                
            }
            &--signUpBut:active{
                height: 5.5vh;
            }
            
        }
        
        
        
    }
}


@media screen and (max-width: 912px) {
   #square{
    min-width: 50vw;
   }
   
   .mainSection{
    .square{
        &__lab{
            font-size : 3.5vw;
           }
        &__inputs{
            height: 6vh;
            width: 30vw;
            font-size: 3vw;
    
       }
       &__inputs:hover{
        
        height: 7vh;
        width: 33vw;
        font-size: 3vw;
        }
        &__forgPass{
            font-size: 1.5vw;
            
        }
        &__signInBut{
            height: 6vh;
            width: 30vw;
            font-size: 3vw;
            
        }
        &__signInBut:active{
            height: 7vh;
        }
        
        
        &__fSet{
            width: 30vw;
            &--Legend {
                font-size: 3vw;
               
            }
            &--signUpBut{
                height: 7vh;
                width: 30vw;
                font-size: 3vw;
                
            }
            
            &--signUpBut:active{
                height: 7vh;
            }
        }
    }
   }
   
  }

  
