.statistics-main{
    display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      height: 100vh;
      margin: 0;
      &__img{
        margin-top: 2rem;
        border-radius: 4rem;
      }
      &__title{
        font-family: $title-font;
        font-size: 3.2rem;
        text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.712);
        color: $red-brown;
        text-decoration-line: underline;
        text-decoration-thickness: 2px;
        text-decoration-style: dotted;
        letter-spacing: 5px;
      }
      &__prima {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 80%;
        margin: 2rem;
      }
      .stat1-left, .stat1-right{
        padding: 1.5rem;
        height: 80%;
        width: 50%;
        flex: 1;
        font-size: 2rem;
        text-align: center;
        border-radius: 2rem;
        background-color: $crem;
       }
       .stat-text{
        font-weight: bold;
        padding: 1.5rem;
        color: $red-brown;
        background-color: $lightest-pale-brown;
        border-radius: 5rem;
        &__value{
            font-weight: normal;
        }
       }
       
       &__doi {
        padding: 2rem;
        background-color: $crem;
        width: 30%;
        border-radius: 2rem;
        &--stat-text{
          background-color: $lightest-pale-brown;
          border-radius: 5rem;
          font-size:2rem;
          text-align: center;
          color: $red-brown;
          font-weight: bold;
          padding:0.4rem;
        }
        &--stat-value{
          font-size:2rem;
          text-align: center;
          margin: 1rem;
          font-weight: normal;
        }
      }

      .stat2-left, .stat2-right{
        padding: 1.5rem;
        height: 70%;
        flex: 1;
        font-size: 2rem;
        border-radius: 2rem;
        background-color: $light-brown;
       }
       .stat2-left{
        width: 70%;
        &__text{
            text-align: left;
            height:100%;
            width:40%;
            color: $brown;
            font-weight: bold;
            background-color: $yellowish-white;
            border-radius: 1rem;
            padding: 0.5rem;
        }
       }

       .stat2-right{
        text-align: center;
        width: 30%;
        &__text{
            height:50%;
            width:100%;
            color: $brown;
            font-weight: bold;
            background-color: $yellowish-white;
            border-radius: 1rem;
            padding: 0.2rem;
        }
       }

}