* {
    font-family: $primary-font;
}

.terms-body{
    background-color: $yellowish-white;
    margin: 0;
}

.terms-main{
    padding: 1rem;
    background-color: $help-background;
    width: 50rem;
    height: max-content;
    margin-left: auto;
    margin-right: auto;
    &__title{
        font-family: $title-font;
        text-align: center;
        margin:2rem;
    }
    &__item{
        font-family: $secondary-font;
        margin: 1rem;
    }
    &__subtitle{
        font-family: $primary-font;
        margin-bottom:1.5rem;
    }
}

@media  screen and (max-width: 830px) {
    .terms-main{
        width: 30rem;
    }
}

