/*
    chestii comune pt toata lumea; 
    exemplu: 
        tagurile <a>, <body>, titlul, <nav>?! 
*/
.home-header {
    display: flex;
    justify-content: space-between;
    gap: 1.25rem;
    background-color: $crem;
    border-radius:  0.6rem;
    padding: 0px 0.6rem;
    height: 6.25rem;
    max-width: 100vw;

    &__left{
        display: flex;
        &--logo {
            width: 5.5rem;
            height: 5.5rem;
            background-size: cover;
            border-radius: 50%;
            margin-top: auto;
            margin-bottom: auto;
            margin-left: 1.25rem;
        }
        &--title{
            color:white;
            font-family: $title-font;
            font-size: 2.2rem;
            margin-top: auto;
            margin-bottom: auto;
            margin-left: 1rem;
        }
    }
    

    .home-nav {
        display: flex;
        &__item{
            margin: auto 1.5rem;
            padding:  0.6rem 1rem;
            background-color: $yellowish-white;
            border-radius: 0.4rem;
            border: none;
                &:hover{
                    transition: all 1s ease 0s;
                    background-color: $lightest-pale-brown;
                }
        }
        &__link{
            text-decoration: none;
            font-weight: bold;
            font-size: 1rem; 
            color: $red-brown;
            &:hover{
                color: $brown;
            }
        }
    }
   
}

@media screen and (max-width: 480px){
    .home-header{
        background-color: $crem;    
        .home-nav {
            background-color: $crem;
            &__item{
                margin: auto 1rem;
                padding:  0.5rem 0.8rem;
                border-radius: 0.4rem;
            }
            &__link{
                font-size: 1rem; 
            }
        }
    }

}
@media screen and (max-width: 1220px){
    .home-header{
        .home-nav {
            background-color: $crem;
        }
    }
}

/*
@media (orientation: landscape){
    .home-header{
        padding: 0px 0.2rem;
        background-color: red;
    }
}
*/

