/*
    chestii comune pt toata lumea; 
    exemplu: 
        tagurile <a>, <body>, titlul, <nav>?! 
*/
.home-header {
    display: flex;
    justify-content: space-between;
    gap: 1.25rem;
    background-color: $crem;
    border-radius:  0.6rem;
    padding: 0px 0.6rem;
    height: 6.25rem;

    &__logo {
        width: 5.5rem;
        height: 5.5rem;
        background-size: cover;
        border-radius: 50%;
        margin-top: 0.3rem;
        margin-left: 1.25rem;
    }
    &__title{
        color:white;
        font-family: $title-font;
        font-size: 2.2rem;
        text-align: center;
        vertical-align: middle;
        line-height: 6.25rem;
    }
   
}



.home-nav {
    margin-left: auto;
    position: static;
    right: 1.25rem;
    &__item{
        display: inline-block; /*items side by side, not one after another*/
        padding:  0.6rem 1.25rem;
        margin:  1rem;
    
        &:hover{
            transition: all 0.5s ease 0s;
            color: #fff;
            background-color: $light-brown;
        }
    }
}


.home-nav__item, .home-nav__link{
    font-weight: bold;
    font-size: 1.1rem; 
    text-decoration: none;
    color: $red-brown;
    background-color: $yellowish-white;
    border-radius: 0.4rem;
    padding:  0.6rem;
}