/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;1,200;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;1,200;1,400;1,700&display=swap');

/* Colors 


$pale-brown: #bc925eba;
*/
$red-brown:  #8E3200;
$brown: #A64B2A;
$pale-brown: #72583A;
$lighter-pale-brown: #e5b274ca;
$lightest-pale-brown: #f8dcba;
$light-brown: #d49d5b;
$yellowish-white: #FFEBC1;
$crem: #D7A86E;
$negru: #000000;
$smokey-white: #f5eddc;
$help-background: #fff5deed;
$yellower-white:#fce0a4;

/* Fonts */
$primary-font: 'Lato', sans-serif;
$secondary-font: 'Bodoni Moda';
$title-font: 'Nunito Sans';
