/* Google Font */

@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');


/* Colors */
$red-brown:  #8E3200;
$brown: #A64B2A;
$pale-brown: #bc925eba;
$lighter-pale-brown: #e5b274a2;
$lightest-pale-brown: #f8dcbaba;
$light-brown: #d49d5b;
$yellowish-white: #FFEBC1;
$crem: #D7A86E;