/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;1,200;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;1,200;1,400;1,700&display=swap");
/* Colors */
/* Fonts */
* {
  font-family: "Lato", sans-serif;
}

body {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-left;
  gap: 1.25rem;
  background-color: #D7A86E;
  border-radius: 0.6rem;
  padding: 0px 10;
  height: 6.25rem;
}
header img {
  margin-left: 1.25rem;
}
header h1 {
  text-align: center;
}
header li, header a {
  font-weight: bold;
  font-size: 1.1rem;
  text-decoration: none;
  color: #8E3200;
  background-color: #FFEBC1;
  border-radius: 0.4rem;
}
header .logo {
  width: 5.5rem;
  height: 5.5rem;
  background-size: cover;
  border-radius: 50%;
  margin-top: 0.3rem;
}
header #title {
  height: 60%;
  color: white;
  font-family: "Nunito Sans";
  font-size: 2.2rem;
}

nav {
  margin-left: auto;
  position: static;
  right: 1.25rem;
}

#options {
  list-style: none;
}
#options li {
  display: inline-block; /*items side by side, not one after another*/
  padding: 0.6rem 1.25rem;
  margin: 1rem;
}
#options li:hover {
  transition: all 0.5s ease 0s;
  color: #fff;
  background-color: #d49d5b;
}

a {
  padding: 0.6rem;
}

.section {
  width: 100%;
  min-height: 100vh;
  background-color: #FFEBC1;
}
.section .container {
  width: 90%;
  display: block;
  margin: auto;
  padding-top: 3.1rem;
}
.section .container .content-section {
  float: right;
  width: 55%;
}
.section .container .content-section .title {
  text-transform: uppercase;
  text-decoration: overline;
  font-size: 1.4rem;
  color: #8E3200;
}
.section .container .content-section .information, .section .container .content-section h3 {
  font-size: 1.25rem;
  font-weight: bold;
  color: #A64B2A;
}
.section .container .content-section .information, .section .container .content-section p {
  color: rgba(188, 146, 94, 0.7294117647);
  font-size: 1rem;
  line-height: 1.5;
}
.section .container .image-section {
  float: left;
  width: 40%;
}
.section .container .image-section img {
  height: 25rem;
  width: 25.5rem;
}

@media screen and (max-width: 768px) {
  .container {
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 6.25rem;
  }
  .content-section, .image-section {
    float: none;
    width: 100%;
    display: block;
    margin: auto;
  }
  .content-section .title {
    text-align: center;
    font-size: 1rem;
  }
  .information {
    text-align: center;
  }
}